<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desi-Jugad</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.js"></script>
    <style>
        #nav {
            background-color: rgba(230, 186, 244, 0.726);
        }

        #navButtons {
            margin-left: 200px;
        }

        #link {
            padding: 30px;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary  sticky-top" id="nav">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="home">
                <img src="/public/image/dj-high-resolution-logo-transparent.png" height="70" alt="dj Logo"
                    loading="lazy" style="margin-top: -1px;" />
            </a>



            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navButtons">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="home" id="link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard" id="link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="subject" id="link">Subject</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chat" id="link">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login" id="link">Login</a>
                    </li>
                </ul>

            </div>
        </div>
        <!-- Collapsible wrapper -->

        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="?">Search</button>
        </form>
        </div>
    </nav>

    <script>// Initialization for ES Users
        import { Collapse, Ripple, initMDB } from "mdb-ui-kit";

        initMDB({ Collapse, Ripple });</script>

    </script>
    <script src="https://www.chatbase.co/embed.min.js" chatbotId="69ws8zhEr5HydYfstsSCU" domain="www.chatbase.co" defer>
    </script>


</body>

</html>