<%- include ('partials/navigation') %>
    <link rel="stylesheet" href="/public/css/container.css">
    <!DOCTYPE html>
    <html>

    <head>
        <title>Key Points of Virtual Mentorship</title>

    </head>

    <body>
        <div class="container" id="point">
            <h1>Key Points of Desi Jugad</h1>
            <p>Desi Jugad is a virtual setting offers several advantages:</p>
            <ul>
                <li class="highlight">Accessibility: Mentors and mentees can connect from anywhere in the world.</li>
                <li>Flexibility: Scheduling meetings and interactions can be more flexible.</li>
                <li>Scalability: Virtual mentorship programs can reach a larger audience.</li>
                <li>Resources: Access to online resources and tools can enhance the mentorship experience.</li>
            </ul>
        </div>
        <div class="container" id="point">
            <h1>Features of Desi Jugad</h1>
            <p>Our main Motive of the website:</p>
            <ul>
                <li class="highlight">Connectivity:Here Every Students Can Connect With Each Other .</li>
                <li>Dashboard: You Dashboard shows your recent asked doubts and the solutions of you doubts.</li>
                <li>Subject: You can ask your doubt in the respective subjects.</li>
                <li>Chat : You can reach a larger audience of the students and Mentors.</li>
                <li>Chatbot: You can access the chatbot to ask the querries.</li>
            </ul>
        </div>
    </body>